.mostread-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }
  
  .reading-list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  
  .reading-list {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #d5d5d7;
    column-gap: 24px;
    align-items: flex-start;
  }
  
  .reading-list:last-child {
    border-bottom: none;
  }
  
  .mostread-list-number {
    background: #f9e7e9;
    width: 100%;
    height: 64px;
    max-width: 64px;
    font-size: 36px;
    /* line-height: 2.5em; */
    letter-spacing: -0.0025em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* text-align: center; */
  }
  
  .mostread-sutext {
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    margin-top: 8px;
  }
  
  .mostread-heading {
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
  }
  
  .mostread-heading.active {
    color: #a7202c;
  }
  
  .mostread-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
  }
  