.paper {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 32, 67, 0.1);
    border-radius: 32px;
    z-index: 2;
    flex: 1;
  }
  
  .paper:hover {
    box-shadow: 0px 4px 20px rgba(193, 10, 39, 0.1);
  }
  